{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-3 mb-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card border-info mx-auto" >
        <img src="{% static 'images/c.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Twitter bot </h5>
          <h6><span class="badge rounded-pill bg-info text-dark">Python</span>&nbsp;&nbsp;&nbsp;<span class="badge rounded-pill bg-info text-dark">tweepy.API</span></h6>
          <p class="card-text">Python bot to automatically retweet a tweet where the bot was mentioned  </p>
          <hr>
          <a href="https://twitter.com/Adopta_Dog" class="btn btn-info">account</a>
          <a href="{% url 'home' %}" class="btn btn-dark ms-3">HOME</a>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}

tweepy.API