{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-3 mb-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card border-info mx-auto" >
        <img src="{% static 'images/c.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Twitter bot</h5>
          <p class="card-text">Created to retweet Tweets about missing dogs whenever the bot gets mentioned.</p>
          <p>Future improvements:
          The next step is to give my bot the ability to automatically search every few minutes for hashtags related to missing dogs on the area and retweet</p>
          <hr>
          <a href="https://twitter.com/Adopta_Dog" class="btn btn-info">meet my bot :D</a>
          <a href="{% url 'home' %}" class="btn btn-dark ms-3">HOME</a>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}