{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-3 mb-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card border-info mx-auto" >
        <img src="{% static 'images/a.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Charts app</h5>
          <p class="card-text">Simple web app to create polls and return a graphical interpretation of the results after voting</p>
          <p>Future improvements:
          I plan to give users the ability to create their own polls and personal accounts to keep track of their activity, recommend polls related to certain topics, etc. Also, limit the number of votes per question per user
          </p>
          <hr>
          <p>Admin: super</p>
          <p>Password: imadmin123</p>
          <p>Admin site link: https://imavote.herokuapp.com/admin/</p>
          <hr>
          <a href="https://imavote.herokuapp.com/" class="btn btn-info">visit my Project :D</a>
          <a href="https://github.com/0imami0/voteApp/" class="btn btn-info ms-3">source code</a>
          <a href="{% url 'home' %}" class="btn btn-dark ms-3">HOME</a>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}