{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-3 mb-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card border-info mx-auto" >
        <img src="{% static 'images/a.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Charts app</h5>
          <h6>
            <span class="badge rounded-pill bg-info text-dark">Django</span>&nbsp;&nbsp;&nbsp;
            <span class="badge rounded-pill bg-info text-dark">JavaSctipy</span>&nbsp;&nbsp;&nbsp;
            <span class="badge rounded-pill bg-info text-dark">Bootstrap</span>&nbsp;&nbsp;&nbsp;
            <span class="badge rounded-pill bg-info text-dark">SQLite</span>
          </h6>
          <p class="card-text">Simple website to create polls as admin and vote as user. It returns a graphical interpretation of the results after voting</p>
          <p>For this project, I implemented Django at the back end, bootstrap for the front end, and JavaScript for the charts
          </p>
          <hr>
          <p>Log on as admin to create your own polls </p>
          <p>Admin: super</p>
          <p>Password: imadmin123</p>
          <p>Admin site link: https://imavote.herokuapp.com/admin/</p>
          <hr>
          <a href="https://imavote.herokuapp.com/" class="btn btn-info">visit my Project</a>
          <a href="https://github.com/0imami0/voteApp/" class="btn btn-info ms-3">source code</a>
          <a href="{% url 'home' %}" class="btn btn-dark ms-3">HOME</a>
        </div>
      </div>      
    </div>
  </div>
</div>
{% endblock %}