{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-3 mb-3">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card border-info mx-auto" >
        <img src="{% static 'images/d.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Conway's Game of Life</h5>
          <h6>
            <span class="badge rounded-pill bg-info text-dark">Python</span>&nbsp;&nbsp;&nbsp;
            <span class="badge rounded-pill bg-info text-dark">PyGame</span>&nbsp;&nbsp;&nbsp;
            <span class="badge rounded-pill bg-info text-dark">NumPy</span>
          </h6>
          <p class="card-text">the first project I ever made and my favorite. I can say this project introduced me into programming. I watched a gol video on YouTube, I was so intrigued and felt the urge to understand how it works so I did it myself </p>
          <p>Rules:</p>
          <p>1- Any live cell with fewer than two live neighbours dies, as if by underpopulation.</p>
          <p>2- Any live cell with two or three live neighbours lives on to the next generation.</p>
          <p>3- Any live cell with more than three live neighbours dies, as if by overpopulation.</p>
          <p>4- Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</p>
          <hr>
          <a href="https://github.com/0imami0/GOL" class="btn btn-info">source code</a>
          <a href="{% url 'home' %}" class="btn btn-dark ms-3">HOME</a>
        </div>
      </div>      
    </div>
  </div>
</div>

{% endblock %}