{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="card card-body h-100  border-info" id="profile-wrapper">
				<img id="profile-pic" src="{% static 'images/estaes.jpg' %}" >
				<hr>
				<h4>Hi I'm Ima!</h4>
				<p>000ima.ami333@gmail.com</p>
				<p>+52 (33) 2579 5850</p>
			</div>
		</div>

		<div class="col-md-9">
			<div class="card card-body h-100  border-info">
				<h4>About Me</h4>
				<hr>
				<p>I'm a software engineering student. I have been in touch with programming since high school but started taking it more seriously a couple of years ago. Trying to build something new and learn in the process is my biggest hobby.</p>

				<p>My knowledge and personal projects are mostly related to web development with Django and a little bit of automation, but I'm always learning new things through courses or books, at the moment I'm learning about API development with React and Django REST Framework</p>
				<p>I consider myself a self-taught learner, and I'm looking for an entry-level position related to software development.</p>

				<ul class="social-links">
					<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
					<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
				</ul>

			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-body h-100">
				<h4>
					My Developer Stack
					<small class="text-muted h6">(blue for confident & grey for learning)</small>
				</h4>
				<hr>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Languages</th>
							<th scope="col">Frameworks & Libraries</th>
							<th scope="col">Tools</th>
							<th scope="col">Spoken</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span class="badge rounded-pill bg-info text-dark">Python</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-info text-dark">SQL</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-secondary">JavaScript</span>
								<br>
								<p></p>
								<span class="badge rounded-pill bg-info text-dark">HTML</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-secondary">CSS</span>
							</td>
							<td>
								<span class="badge rounded-pill bg-info text-dark">Django</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-info text-dark">Bootstrap</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-secondary">React</span>
								<br>
								<p></p>
								<span class="badge rounded-pill bg-secondary">Django REST framework</span>
							</td>
							<td>
								<span class="badge rounded-pill bg-info text-dark">Git</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-info text-dark">Heroku</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-info text-dark">Virtualenv</span>
								<br>
							</td>
							<td>
								<span class="badge rounded-pill bg-info text-dark">Spanish</span>&nbsp;&nbsp;&nbsp;
								<span class="badge rounded-pill bg-info text-dark">English</span>&nbsp;&nbsp;&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="card card-body h-100">
				<h4>
					Featured Projects
					<small class="text-muted h6">(click the image for more information)</small>	
				</h4>
				<hr>
				<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="{% url 'projects' 0 %}">
								<img src="{% static 'images/e.png' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">NOTES APP</h5>
							</div>
						</div>
						<div class="carousel-item ">
							<a href="{% url 'projects' 1 %}">
								<img src="{% static 'images/b.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">CRM</h5>
							</div>
						</div>
						<div class="carousel-item">
							<a href="{% url 'projects' 2 %}">
								<img src="{% static 'images/a.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">CHARTS APP</h5>
							</div>
						</div>
						<div class="carousel-item">
							<a href="{% url 'projects' 3 %}">
								<img src="{% static 'images/c.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">TWITTER BOT</h5>
							</div>
						</div>
						<div class="carousel-item">
							<a href="{% url 'projects' 4 %}">
								<img src="{% static 'images/d.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">GAME OF LIFE</h5>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button> 
				</div>
			</div>
		</div>
	</div>
	<br>
</div>
{% endblock %}