{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-3 mt-sm-5">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-3">
			<div id="profile-wrapper" class="card card-body h-100 border-info">
				<img id="profile-pic" src="{% static 'images/estaes.jpg' %}">
				<hr>
				<h4>HI! I'm ima</h4>
				<p></p>
					<ul class="social-links">
						<a href="https://twitter.com/Adopta_Dog">
							<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						</a>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
					</ul>
					<a href="{% url 'contact' %}" class="btn btn-danger m-1">MY ONTACT INFORMATION ;D</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-9">
			<div class="card card-body h-100 border-info">
				<h4>ABOUT ME</h4>
				<hr>
				<p></p>
				<p></p>
				<p>Hi my name is Imanol Vazquez Dominguez I'm a self-taught Python developer and software engineer student</p>
				<p>I started coding as a hobby but after a while, I became very passionate about it, so I decided to take it seriously, even change my career path</p>
				<p>since then I've been working hard to obtain a good grasp of the fundamentals and a vast variety of tools and projects in order to become a proficient and confident developer in the professional field</p>
				<p>My university program is 100% online and super flexible, I have no problem at all with full-time jobs </p>
			</div>
		</div>
	</div>


	<div class="row mt-lg-5">
		<div class="col-xs-12 col-sm-12 col-lg-6">
			<div class="card card-body h-100 border-info">
				<h4>WHAT I KNOW</h4>
				<hr>
				<p>Python, Django, Flask, SQL(postgres), enough CSS and HTML for bootstrap, Git, very comfortable with Linux environments, Heroku, some AWS like s3 buckets </p>
				<p></p>
				<h4>MY SOFT SKILLS</h4>
				<hr>
				<p>As an autodidact i developed a set of usefull and vavaluable skills</p>
				<p id="my-p">Reverse engineering, i can learn by having a final product to tear apart piece by piece</p>
				<p id="my-p">I really need to understand what i'm doing and why. thats why i use to read a lot of documentation</p>
				<p id="my-p">I'm really passionate about the field, allways want to learn more and more</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-lg-6">
			<div class="card card-body h-100 ">
				<h4>MY PROJECTS</h4>
				<hr>
				<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="{% url 'projects' 1 %}">
								<img src="{% static 'images/b.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">CRM</h5>
							</div>
						</div>
						<div class="carousel-item">
							<a href="{% url 'projects' 2 %}">
								<img src="{% static 'images/a.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">CHARTS APP</h5>
							</div>
						</div>
						<div class="carousel-item">
							<a href="{% url 'projects' 3 %}">
								<img src="{% static 'images/c.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">TWITTER BOT</h5>
							</div>
						</div>
						<div class="carousel-item">
							<a href="{% url 'projects' 4 %}">
								<img src="{% static 'images/d.jpg' %}" class="d-block w-100" alt="...">
							</a>
							<div class="carousel-caption d-none d-md-block">
								<h5 id="port-name">GAME OF LIFE</h5>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button> 
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}



